@font-face{
	font-family: 'Poppins';
	src: url('../font/Poppins-Regular.ttf');
}

.cell{
	border: 1px solid black;
	margin-left: 0.5em;
	padding: 0;
}

.navbar{
	background-color: rgba(0,0,0,0);
	padding : 1em 3em 1em 3em;
}

.navbar img{
	width: 2.2em;
}

.nav-item{
	margin: 0em 1em 0em 1em;
	z-index: 2;
}


.navbar-nav{
	position: relative;
}

.nav-dummy{
	position: absolute;
	border-bottom: 1px solid white;
	color: rgba(0,0,0,0);
	width: 0em;
	z-index: 1;
	transition: .1s;
}

/* ABOUT US CSS */
.about-us{
	border-radius: 0.5em;
	/*margin: 3vh 3vh 0 3vh;*/
	margin: -210vh 3vh 0 3vh;
	background: linear-gradient(129deg, rgba(178,1,153,1) 0%, rgba(73,0,161,1) 100%);
	/*padding-bottom: 10vh;*/
	height: 97vh;
	position: absolute;
	top: 0;
	z-index: 5;
	/*height: 100%;*/
	width: 97%;
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.about-us img{
	width: 8em;
	transition: .5s;
	z-index: 2;
}

.about-us-wrapper{
	text-align: center;
	margin-top: 4em;
}

.about-us-img{
	height: 22em;
	position: relative;
}

.about-us-team{
	font-size: 20em;
	color: rgba(255,255,255,0.2);
	position: absolute;
	width: 105vw;
	top: 0;
	text-align: center;
	font-weight: 900;
	z-index: -1;
}

.about-us-wrapper img{
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
	border-radius: 0.2em;
	margin: 0em 1em 0em 1em;
}

.about-us-caption{
	margin-top: 2em;
}

.about-us-name{
	font-size: 2em;
	color: white;
}

.about-us-as{
	font-size: 0.7em;
	color: white;
}

.about-us-motto{
	color: white;
}


/* DETAIL CSS */

.detail-wrapper{
	border-radius: 0.5em;
	/*margin: 3vh 3vh 0 3vh;*/
	margin: 210vh 3vh 0 3vh;
	background: linear-gradient(129deg, rgba(178,1,153,1) 0%, rgba(73,0,161,1) 100%);
	/*padding-bottom: 10vh;*/
	height: 105vh;
	position: absolute;
	top: 0;
	z-index: 5;
	/*height: 100%;*/
	/*transition: .5s;*/
	width: 97%;
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.detail-wrapper .row{
	margin: 0;
}

.detail-cell-title h1{
	font-size: 6em;
	text-align: center;
	color: white;
}

.detail-exit{
	font-size: 2em;
	text-align: right;
	margin: -0.2em 0.1em 0em 0em;
}

.menu-detail{
	height: 100vh;
	background-color: #A5009A;
	margin-top: -0.5em;
	border-radius: 0.5em;
}

.detail-cell-subtitle{
	font-size: 1.5em;
	color: white;
	text-align: center;
}

.detail-cell-info{
	font-size: 1.1em;
	color: white;
	text-align: center;
}

.detail-menu-wrapper{
	position: relative;
}

.detail-menu-wrapper .real-row{
	position: relative;
	z-index: 2;
}

.shadow-row{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
}

.shadow-row .active{
	color: #69009E;
}



.detail-cell-menu-title{
	background-color: #69009E;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.menu-parent{
	position: relative;
	padding-left: 0;
}

.detail-menu-item{
	padding: 0.5em 0em 0.5em 0em;
}

.detail-cell-usage{
	font-size: 1.1em;
	color: white;
	text-align: center;
}

.detail-menu-top-shadow.active{
	/*background-color: #69009E;*/
	/*border-radius: 0.8em;*/
	border-bottom-left-radius: 1em;
	padding: 0.5em 0em 0.5em 0em;
	top: -2.45em;
	/*left: 0;*/
	/*margin-left: -0.4em;*/
	position: absolute;
	box-shadow: 0 25px 0 0 #69009E;
	/*top: -100;*/
	/*transform: scaleY(-1);*/
}

.detail-menu-bottom-shadow.active{
	/*background-color: #69009E;*/
	/*border-radius: 0.8em;*/
	border-top-left-radius: 1em;
	padding: 0.5em 0em 0.5em 0em;
	/*margin-left: -0.4em;*/
	position: absolute;
	box-shadow: 0 -25px 0 0 #69009E;
	top: 2.45em;
}

.detail-usage-caption{
/*	text-align: right;*/
	font-size: 2em;
	padding-bottom: 0.1em;
	border-bottom: 2px solid white;
	width: 50%;
	position: relative;
}

.detail-usage-caption span{
	/*position: absolute;*/
}

#carouselExampleControls .carousel-control-prev{
	opacity: 1;
}

#carouselExampleControls .carousel-control-next{
	opacity: 1;
}

#carouselExampleControls .carousel-control-prev-icon{
	background: none;
	font-size: 2em;
	opacity: 1;
}

#carouselExampleControls .carousel-control-next-icon{
	background: none;
	font-size: 2em;
	opacity: 1;
}

#carouselExampleControls .carousel-item{
	text-align: center;
}

#carouselExampleControls .carousel-item img{
	width: 70%;
}

.discovery-wrapper{
	margin-top: -0.5em;
    position: absolute;
}

.discovery-state{
	width: 1em;
}

.detail-content-wrapper{
	padding: 5em 10em 5em 9em;
	color: white;
	overflow-y: scroll;
	direction: rtl;
	/*height: 85vh;*/
	height: 90vh;
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 1em;
	position: relative;
}

.detail-content-wrapper p{
	direction: ltr;
}

.detail-content-wrapper h2{

	direction: ltr;
}

.detail-menu-item{
	cursor: pointer;
}

.detail-usage-wrapper{
	padding: 3em 10em 0em 9em;
	color: white;
	direction: rtl;
	/*height: 85vh;*/
	height: 90vh;
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 1em;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-track {
    /*background: linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 60%);*/
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*background-color: white;*/
}

.detail-content-wrapper::-webkit-scrollbar {
    width: 12px;
}

.detail-content-wrapper::-webkit-scrollbar-track {
    background: linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 60%);
    border-radius: 10px;
}

.detail-content-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.detail-usage-wrapper::-webkit-scrollbar {
    width: 12px;
}

.detail-usage-wrapper::-webkit-scrollbar-track {
    background: linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 60%);
    border-radius: 10px;
}

.detail-usage-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

    /*.detail-content-wrapper::-webkit-scrollbar-track-piece:end {
    background-color: rgba(0,0,0,1);
    margin-bottom: 5em;
}*/

/*.detail-content-wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}*/

.detail-content-wrapper .table{
	color: white;
	direction: ltr;
}

.detail-content-wrapper .table tr:first-child td:first-child{
	border-top-left-radius: 1em;
}

.detail-content-wrapper .table tr:first-child td:nth-child(2){
	border-top-right-radius: 1em;
}

.table-striped tbody tr:nth-of-type(odd){
	background-color: rgba(0,0,0,0.2)
}

.detail-content-wrapper .table td{
	color: white;
	padding: 1em 2em 1em 2em;
}

.detail-content-table{
	border-radius: 1em;
	border: 1px solid white;
}

.nav-link:hover{
	color: white;
}

.detail-content-wrapper .table td{
	border: none;
}

.detail-content-wrapper h2{
	color: white;
	font-weight: 900;
}

footer{
	padding-left: 0.5em;
	font-size: 0.8em;
	position: fixed;
	bottom: 0;
	color: white;
	background-color: #474747;
	width: 100vw;
	z-index: 5;
}


/* INDEX CSS ================================ */
.card-blue{
	background-color: #88C0F5;
}
.quiz-challenge-wrapper{
	position: absolute;
    top: 2em;
    width: 5em;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0.2em;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    left: 40%;
}
.quiz-done{
	font-size: 0.5em;
	border-bottom: 1px solid white;
	cursor: pointer;
}
.card-red{
	background-color: #DF6362;
}
.card-yellow{
	background-color: #EFAE5A;
}
.card-green{
	background-color: #3C947B;
}
.txt-no{
	font-size: 8pt;
	position: absolute;
	top: 0;
	color: #fff;
}
.txt{
	text-align: center;
	margin-bottom:0px;
	font-size: 1.8em;
	color: #fff;
}
.txt-caption{
	margin-bottom: 1px;
	text-align: center;
	line-height: 0.5em;
	font-size: 0.6em;
	margin-top:3px;
	color: #fff;
}
.txt-caption-small{
	margin-bottom: 0;
	text-align: center;
	font-size: 0.6em;
	color: #fff;
}
.frame-small{
	padding:4px;
	transition: .2s;
	margin: 2px;
	border-radius: 2px;
	visibility: hidden;
	/*opacity: 0;*/
}

.dark-cover{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	width: 100vw;
	opacity: 0;
	transition: opacity .5s;
}
.dark-cover-quiz{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity .5s;
}
.offset-15{
	margin-left:88.2%!important;
}
.offset-11{
	margin-left:55.2%!important;
}
.offset-1{
	margin-left:5.7%!important;
}
.offset-3{
	margin-left:16.7%!important;
}
.frame-small:hover{
	transform: scale(1.2);
	box-shadow: 0px 3px 9px #474747;
}
.filter-group{
	background-color: rgba(255,255,255,0.2);
	border-radius: 0.3em;
	border: 1px solid white;
}
.filter-group .btn{
	font-size: 0.8em;
    padding: 0.2em 2em 0.2em 2em;
    border:none;
}
a{
	color: #000;
}
a:hover{
	color:#000;
	text-decoration: none;
}
.row{
	margin-right: -80px;
	margin-left: -80px;
}
h1{
	margin-top: 4px;
}
a{
	color:#fff;
}
@media (min-width: 992px){
	.col-lg-1 {
			max-width: 5.19536%;
	}
}
#bg-2{
	position: fixed;
	top: 0;
	left: 0;
}
#bg-1{
	position: fixed;
	right: 0;
	bottom: 0;
}
.btn-secondary{
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}
.filter-group .btn-secondary:hover{
	/*border: 1px solid rgba(255,255,255,0.5);*/
	background-color: rgba(255,255,255,0.5) !important;
}
.filter-group .btn-secondary.active{
	border-color: rgba(0,0,0,0) !important;
	/*border: 1px solid rgba(255,255,255,0.5);*/
	background-color: rgba(255,255,255,0.5) !important;
}